<a href="https://colab.research.google.com/github/rhiats/titanicPrediction/blob/main/titanicPred.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Titanic - Machine Learning from Disaster**

References:

https://www.kaggle.com/competitions/titanic/data

In [34]:
import pandas as pd
import seaborn as sns

**Exploring the Training Set**

The are 891 passengers in the dataset.

In [11]:
def duplicates(df,cols_lst):
  """
    Return df of duplicate rows across specified across columns
    https://www.statology.org/pandas-find-duplicates/

    @p:
    df (df): dataframe containing rows and columns (not empty)
    cols (list): list of columns to ck for duplicates

    @r:
    dups_df (df): Dataframe containing the duplicate rows
  """

  return df[df.duplicated(cols_lst)]

In [15]:
X=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/titanicPrediction/input/train.csv")
y=X.Survived
dupPassengers_df=duplicates(X,['PassengerId'])

In [18]:
print("The are {} duplicated passengers in the dataset".format(int(dupPassengers_df.shape[0])))
print("The are {} passengers in the dataset".format(int(X.shape[0])))

The are 0 duplicated passengers in the dataset
The are 891 passengers in the dataset

In [47]:
#Balanced or Imbalanced Data
def balanced(df):
  """
    Percentage of passengers who survive v. not survive in the dataset

    @p:
      df (dataframe): Input dataframe
  """
  df[['Survived', 'PassengerId']].groupby('Survived')

balanced(X)
#Number of Females the Survived v. Males

#Number of Adults who Survived the titanic crash

**Feature Engineering**

In [56]:
#Turn Cabin Number into Deck
def deck(df):
  """
    https://triangleinequality.wordpress.com/2013/09/08/basic-feature-engineering-with-the-titanic-data/
  """

  #Turning cabin number into Deck
  cabin_list = ['A', 'B', 'C', 'D', 'E', 'F', 'T', 'G', 'Unknown']
  df['Deck']=df.Cabin.map(lambda x: x[0])

  return df

X=deck(X)
X['Deck']
#Children may not survive the dangerous ordeal.
#df1['adult_flag']=np.where((df['Age']>18), 1, 0)

TypeError: ignored