<a href="https://colab.research.google.com/github/rhiats/titanicPrediction/blob/main/titanicPred.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Titanic - Machine Learning from Disaster**

References:

https://www.kaggle.com/competitions/titanic/data

In [ ]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

**Exploring the Training Set**

The are 891 passengers in the dataset. The dataset is relatively balanced with 40% of the passengers survival the catastrophe.

In [ ]:
def duplicates(df,cols_lst):
  """
    Return df of duplicate rows across specified across columns
    https://www.statology.org/pandas-find-duplicates/

    @p:
    df (df): dataframe containing rows and columns (not empty)
    cols (list): list of columns to ck for duplicates

    @r:
    dups_df (df): Dataframe containing the duplicate rows
  """

  return df[df.duplicated(cols_lst)]

In [ ]:
X=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/titanicPrediction/input/train.csv")
y=X.Survived
dupPassengers_df=duplicates(X,['PassengerId'])

In [ ]:
print("The are {} duplicated passengers in the dataset".format(int(dupPassengers_df.shape[0])))
print("The are {} passengers in the dataset".format(int(X.shape[0])))

In [ ]:
#Balanced or Imbalanced Data
def balanced(df):
  """
    Percentage of passengers who survive v. not survive in the dataset

    @p:
      df (dataframe): Input dataframe
  """
  df['Survival'] = np.where(df['Survived']==0, 'Died', 'Survived')

  survival_ratio_df=(df[['Survival', 'PassengerId']].groupby('Survival').count()/int(df.shape[0]))*100

  survival_ratio_df.reset_index(inplace=True)

  survival_ratio_df.rename(columns={"PassengerId": "Relative Frequency (%)", "B": "c"}, inplace=True)

  sns.barplot(data=survival_ratio_df, x='Survival', y="Relative Frequency (%)", color="lightsteelblue")

  plt.savefig("/content/drive/MyDrive/Colab Notebooks/titanicPrediction/output/balanced.png")

balanced(X)

In [ ]:
#Number of unknown data


#Number of Females the Survived v. Males

#Number of Adults (Age 16) who Survived the titanic crash

#Distribution of fares

#Drop columns - ['Name', 'Age', 'Ticket', 'Fare', 'Cabin']

**Feature Engineering**

In [ ]:
def adult_flag(df):
  """
    Children and adults may have different survival rates.

    @p:
    df (df): dataframe of input data

    @r: dataframe with adult flag
  """
  df['adult_flag']=np.where((df['Age']>16), 1, 0)

  return df

In [ ]:
X=adult_flag(X)
X.head()